@charset "UTF-8";

.Home {
    height: 100%;
    width: 100%;
    background: url(../images/background-3.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Progress {
    width: 300px;
    height: 10px;
    background-color: #000;
    border: 3px solid red;
    border-radius: 10px 10px;
    overflow: hidden
}

.Progress-content {
    height: 100%;
    width: 0;
    background-color: #f3af00;
    -webkit-transition: width .5s;
    transition: width .5s;
    border-radius: 10px 10px
}

.Loading {
    width: 100%;
    height: 100%;
    background: url(../images/background-2.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Loading-title {
    font-family: huaKang;
    font-size: 20px;
    color: red;
    position: absolute;
    bottom: 75px;
    right: 30px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.Loading .Progress {
    position: absolute;
    bottom: 55px
}

.Login {
    height: 100%;
    width: 100%;
    background: url(../images/background-1.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Login .input-line {
    margin: 30px 0 15px;
    display: flex;
    justify-content: center;
    line-height: 40px
}

.Login .input-line input {
    font-size: 20px;
    height: 40px;
    padding: 0 10px;
    border: none;
    width: 60%
}

.Login .input-line label {
    font-family: huaKang;
    font-size: 25px;
    color: #412210
}

.Login .button-md {
    position: absolute;
    bottom: 20%
}

.ClassRoom {
    height: 100%;
    width: 100%;
    background: url(../images/background-3.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.ClassRoom .max-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1
}

.ClassRoom .max-wrap .max {
    position: absolute;
    left: 100%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.ClassRoom button {
    position: absolute;
    bottom: 80px
}

.ClassRoom button .time-count {
    font-family: none;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 5px
}

.ClassRoom .course {
    position: relative
}

.ClassRoom .course .course-content {
    width: 360px;
    height: 230px;
    margin: 40px 0 5px
}

.ClassRoom .course .course-content-mask {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 40px
}

.ClassRoom .course-history {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0
}

.ClassRoom .course-history li {
    text-align: center
}

.ClassRoom .course-history img {
    width: 90%
}

.ClassRoom .course-history .course-mask {
    position: relative;
    bottom: 100%;
    width: 100%;
    height: 100%
}

.Pharmacy {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Pharmacy .text-wrap-2 {
    position: relative
}

.Pharmacy .p-1,
.Pharmacy .p-2,
.Pharmacy .p-3,
.Pharmacy .p-4 {
    position: absolute;
    bottom: 25%;
    left: 10%
}

.Pharmacy .p-1m,
.Pharmacy .p-2m,
.Pharmacy .p-3m,
.Pharmacy .p-4m {
    position: absolute;
    bottom: 10px;
    right: 0
}

.Pharmacy .button-2 {
    position: absolute;
    bottom: 10%
}

.Pharmacy .radio {
    margin: 5px 10px;
    padding: 5px 55px
}

.Pharmacy .radio:active {
    padding: 7px 57px
}

.Pharmacy .button-box {
    position: absolute;
    bottom: 20%;
    z-index: 1
}

.Pharmacy .text-wrap-2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px
}

.Pharmacy p {
    text-indent: 2em;
    padding: 0 15px 0 10px;
    margin-bottom: 5px
}

.Pharmacy ul {
    list-style: none;
    padding: 20px;
    margin: 0
}

.Pharmacy ul li {
    margin-bottom: 10px
}

.Pharmacy .doctor-lg {
    position: absolute;
    bottom: 37%;
    right: 5%
}

.Pharmacy .doctor-sm {
    width: 100px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: -60px
}

.Ranking {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Ranking .level-wrap {
    width: 300px;
    text-align: center;
    color: #bb080a;
    padding: 15px 20px 50px;
    margin-top: 30px;
    margin-bottom: -20px
}

.Ranking .level-1 {
    background: url(../images/levelWrap1.png) no-repeat;
    background-size: 100% 100%
}

.Ranking .level-2 {
    background: url(../images/levelWrap2.png) no-repeat;
    background-size: 100% 100%
}

.Ranking .level-3 {
    background: url(../images/levelWrap3.png) no-repeat;
    background-size: 100% 100%
}

.Ranking button {
    margin: 10px
}

.Ranking .button-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%
}

.Ranking .text-wrap-2 {
    position: relative
}

.Ranking .text-info {
    font-size: 18px;
    margin: 10px
}

.Ranking .text-info ul {
    margin-top: 5px
}

.Ranking .doctor-sm {
    position: absolute;
    top: -100px;
    left: 60px
}

.Success {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden
}

.Success-1 {
    background: url(../images/success-1.jpg) no-repeat;
    background-size: 100% 100%
}

.Success-2 {
    background: url(../images/success-2.jpg) no-repeat;
    background-size: 100% 100%
}

.Success-3 {
    background: url(../images/success-3.jpg) no-repeat;
    background-size: 100% 100%
}

.Success .score {
    font-family: huaKang;
    font-size: 50px;
    color: #bb080a;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    position: absolute;
    bottom: 30%;
    left: 20%;
    letter-spacing: -8px
}

.Success .doctor-lg {
    position: absolute;
    bottom: 25%;
    left: 50%
}

.Success .handel {
    position: absolute;
    bottom: 80px
}

@font-face {
    font-family: huaKang;
    src: url("../font/华康海报体W12(P).ttf") format("truetype");
    font-weight: 700
}

@font-face {
    font-family: fangZheng;
    src: url(../font/方正字迹-曾正国楷体.ttf) format("truetype")
}

.bg-1 {
    background: url(../images/bg-1.jpg) no-repeat;
    background-size: 100% 100%
}

.bg-2 {
    background: url(../images/bg-2.jpg) no-repeat;
    background-size: 100% 100%
}

.bg-3 {
    background: url(../images/bg-3.jpg) no-repeat;
    background-size: 100% 100%
}

.bg-m-1 {
    background: url(../images/levelbg-1.jpg) no-repeat;
    background-size: 100% 100%
}

.bg-m-2 {
    background: url(../images/levelbg-2.jpg) no-repeat;
    background-size: 100% 100%
}

.bg-m-3 {
    background: url(../images/levelbg-3.jpg) no-repeat;
    background-size: 100% 100%
}

i {
    display: inline-block
}

.nav-bar {
    padding: 10px 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.back-icon {
    width: 40px;
    height: 40px;
    background: url(../images/back.png) no-repeat;
    background-size: 100% 100%
}

.title-icon {
    background: url(../images/title.png) no-repeat;
    background-size: 100% 100%
}

.title-s-icon {
    background: url(../images/title-s.png) no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 91px
}

.title-icon-lg {
    width: 310px;
    height: 182px;
    margin: 25px 0
}

.title-icon-sm {
    width: 129px;
    height: 78.5px
}

.doctor-1 {
    background: url(../images/doctor-1.png) no-repeat;
    background-size: 100% 100%
}

.doctor-2 {
    background: url(../images/doctor-2.png) no-repeat;
    background-size: 100% 100%
}

.doctor-3 {
    background: url(../images/doctor-3.png) no-repeat;
    background-size: 100% 100%
}

.doctor-1l {
    background: url(../images/doctor-1l.png) no-repeat;
    background-size: 100% 100%
}

.doctor-2l {
    background: url(../images/doctor-2l.png) no-repeat;
    background-size: 100% 100%
}

.doctor-3l {
    background: url(../images/doctor-3l.png) no-repeat;
    background-size: 100% 100%
}

.doctor-sm {
    width: 75px;
    height: 110px
}

.doctor-lg {
    width: 150px;
    height: 250px
}

.p-1 {
    background: url(../images/p-1.png) no-repeat;
    background-size: 100% 100%
}

.p-2 {
    background: url(../images/p-2.png) no-repeat;
    background-size: 100% 100%
}

.p-3 {
    background: url(../images/p-3.png) no-repeat;
    background-size: 100% 100%
}

.p-4 {
    background: url(../images/p-4.png) no-repeat;
    background-size: 100% 100%
}

.p-1,
.p-2,
.p-3,
.p-4 {
    width: 200px;
    height: 300px
}

.p-1m {
    background: url(../images/p-1m.png) no-repeat;
    background-size: 100% 100%
}

.p-2m {
    background: url(../images/p-2m.png) no-repeat;
    background-size: 100% 100%
}

.p-3m {
    background: url(../images/p-3m.png) no-repeat;
    background-size: 100% 100%
}

.p-4m {
    background: url(../images/p-4m.png) no-repeat;
    background-size: 100% 100%
}

.p-1m,
.p-2m,
.p-3m,
.p-4m {
    width: 100px;
    height: 150px
}

button {
    font-family: huaKang;
    border: none;
    outline: none;
    color: #fff;
    text-shadow: 3px 3px 0 #982d35
}

.button-1 {
    background: url(../images/button1.png) no-repeat;
    background-size: 100% 100%
}

.button-2 {
    background: url(../images/button2.png) no-repeat;
    background-size: 100% 100%
}

.button-3 {
    background: url(../images/button3.png) no-repeat;
    background-size: 100% 100%;
    text-shadow: none
}

.button-4 {
    background: url(../images/button4.png) no-repeat;
    background-size: 100% 100%;
    text-shadow: none
}

.button-lg {
    font-size: 40px;
    padding: 15px 35px;
    margin: 15px 0;
    letter-spacing: 15px
}

.button-lg:active {
    padding: 18px 38px
}

.button-md {
    font-size: 35px;
    padding: 10px 30px;
    letter-spacing: 10px
}

.button-md:active {
    padding: 13px 38px
}

.button-sm {
    font-size: 28px;
    padding: 8px 18px;
    letter-spacing: 0
}

.button-sm:active {
    padding: 10px 20px
}

.true {
    background-color: green
}

.false,
.true {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    vertical-align: middle
}

.false {
    background-color: red
}

.false,
.footer-bar {
    color: #fff;
    font-weight: 600
}

.footer-bar {
    width: 100%;
    height: 30px;
    background: url(../images/footer.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 10px
}

.text-wrap-1 {
    background: url(../images/text-wrap.png) no-repeat;
    background-size: 100% 100%
}

.text-wrap-1,
.text-wrap-2 {
    padding: 30px 45px;
    width: 255px;
    height: 310px;
    margin-bottom: 20px
}

.text-wrap-2 {
    background: url(../images/text-wrap2.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 20px
}

.text-list {
    font-family: fangZheng;
    font-size: 22px;
    width: 185px;
    font-weight: 600
}

.text-list li {
    margin: 3px;
    line-height: 30px
}

.text-list li:first-child {
    margin-top: -10
}

.text-list li:last-child {
    width: 150px
}

.text-list-2 {
    font-size: 18px;
    width: 230px;
    list-style: none;
    padding-left: 20px
}

.text-list-2 li {
    padding-bottom: 8px
}

.text-list-2 li span {
    display: inline-block;
    width: 45px;
    overflow: hidden;
    vertical-align: middle;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis
}

/*# sourceMappingURL=main.58199d10.chunk.css.map */